.body {
    background-color: #f8fafc;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
}


@media (min-width: 768px) {
    .section{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
